// Place all the styles related to the public/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


// 新規登録、ログイン時の背景
.background{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #000000;
    z-index: -1;
}
.background li {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    -webkit-animation: anime 40s linear 0s infinite ;
    animation: anime 40s linear 0s infinite ;
}
.background li:nth-child(1) {
    background-image: url(login1.jpg)
}
.background li:nth-child(2) {
    background-image: url(login2.png);
    -webkit-animation-delay: 10s;
    animation-delay: 10s;
}
.background li:nth-child(3) {
    background-image: url(login3.jpg);
    -webkit-animation-delay: 20s;
    animation-delay: 20s;
}
.background li:nth-child(4) {
    background-image: url(login4.jpg);
    -webkit-animation-delay: 30s;
    animation-delay: 30s;
}
@-webkit-keyframes anime {
    0% {
        -webkit-animation-timing-function: ease-in;
        opacity: 0;
    }
    10% {
        -webkit-transform: scale(1.1);
        opacity: 1;
    }
    40% {
        -webkit-transform: scale(1.2);
            -webkit-animation-timing-function: ease-out;
        opacity: 1;
    }
    50% {
        -webkit-transform: scale(1.3);
        opacity: 0;
    }
    100% { opacity: 0 }
}
@keyframes anime {
    0% {
        animation-timing-function: ease-in;
        opacity: 0;
    }
    10% {
        transform: scale(1.1);
        opacity: 1;
    }
    40% {
        transform: scale(1.2);
            animation-timing-function: ease-out;
        opacity: 1;
    }
    50% {
        transform: scale(1.3);
        opacity: 0;
    }
    100% { opacity: 0 }
}

// マイページの投稿一覧スライド
.slider2 {
    width:94%;
    margin: 0 auto;
}
.slider2-image {
    width: 100%;/*スライダー内の画像を横幅100%に*/
    height: 50vw;
    object-fit: cover;
    margin: 0 auto;
}

.slick-prev,
.slick-next {
    top: 42%;
    cursor: pointer;/*マウスカーソルを指マークに*/
    outline: none;/*クリックをしたら出てくる枠線を消す*/
    border-top: 2px solid #666;/*矢印の色*/
    border-right: 2px solid #666;/*矢印の色*/
}
/*ドットナビゲーションの設定*/
.slick-dots {
    text-align:center;
	margin:10px 0 0 0;
}

.slick-dots li {
    display:inline-block;
	margin:10 5px;
}

.slick-dots button {
    color: transparent;
    outline: none;
    width:8px;/*ドットボタンのサイズ*/
    height:8px;/*ドットボタンのサイズ*/
    display:block;
    border-radius:50%;

}

.slick-dots .slick-active button{
    background:#778899;/*ドットボタンの現在地表示の色*/
}


.edit-btn {
 text-align: center;
}

.button-edit {
  border: none;
  background: none;
}