<!--コメント入力フォーム-->
<%= form_with(model: [exhibition, comment], local: false) do |f| %>
  <%= f.text_area :message, rows: '5', placeholder: "コメントを記入", class: "form-control" %><br>
      <input class="btn-form-gray" type="submit" value="送信"></p>
<% end %>