<div class=" d-flex align-items-center justify-content-center pt-5">
  <div class="container">
    <div class="row">
      <div class="col-11 col-md-8 col-lg-6 mx-auto">
        <div class="text-center">
          <h1>‐Photo Exhibition‐</h1><br>
              <h4><strong><span class="bgextend bgLRextendTrigger"><span class="bgappearTrigger">たくさんの写真との出会いを。</strong></span></span></h4><br>
              <p>誰もが気軽に自分の作品を展示でき<br>
                多くの人の目に留まるような場所を作りたいと思い<br>
                このサイトを作りました。<br>
                一つの作品を思う存分見ることができ<br>
                また、新たな作品に出会えるように<br>
                ぜひ、数多くの作品を心行くまでご覧ください。
              </p><br><br>
        </div>
      </div>
    </div>
    <ul class="slider">
      <% @exhibition.first(9).each do |exhibition| %>
        <%= link_to exhibition_path(exhibition.id) do %>
          <%= image_tag exhibition.get_image(600,600) %>
         <% end %>
      <% end %>
    </ul>
  </div>
</div>
