  <div class="container">
    <div class="zoomIn"><a href="#"><span class="mask">
      <ul class="gallery">
        <% @exhibition.each do |exhibition|%>
          <%= link_to exhibition_path(exhibition.id) do %>
            <li><%= image_tag exhibition.get_image(600,600) %></li>
          <% end %>
        <% end %>
      </ul>
    </span></a></div>
  </div>
