<div class=" d-flex align-items-center justify-content-center pt-5">
  <div class="container">
    <div class="text-center">
      <div class="row pt-5">
        <div class="col-lg-6">
          <p><%= image_tag @exhibition.get_image(600,600) %></p><br>
        </div>
        <div class="col-lg-5 pt-6" id="comments-list-area">
          <!--コメント一覧部分テンプレート-->
          <%= render "public/comments/comments_list", exhibition: @exhibition %>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12" id="comments-area">
          <!--コメント入力フォーム部分テンプレート-->
          <%= render "public/comments/comments", exhibition: @exhibition, comment: @comment %>
        </div>
      </div>
    </div>
  </div>
</div>