<div class=" d-flex align-items-center justify-content-center pt-5">
  <div class="container">
    <div class="row">
      <div class="col-11 col-md-8 col-lg-6 mx-auto">
        <div class="card">
          <div class="card-body text-center">
            <h4><strong><%= @category.name %></strong></h4>
          </div>
        </div>
        <% @exhibitions.each do |exhibition| %>
          <% if @category.id == exhibition.category_id %>
            <%= link_to exhibition_path(exhibition.id) do %>
              <%= image_tag exhibition.image, size: "100x100" %>
              <%= exhibition.title %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
