/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// リンクの色変更
.link {
    text-decoration: none;
    color: #666666 ;
}

.link-black{
    text-decoration: none;
    color: #000000 ;

}

.link-blue{
    text-decoration: none;
    color: #00FFFF ;
}

.header-link {
    text-decoration: none;
    color: black ;
}


// ナビバー内のレイアウト
.navbar{
    height: 60px;
}

.navbar-brand{
    color: black;
    padding: 10px;
    font-family: 'Pathway Gothic One', sans-serif;
    font-style: italic;
}
.center-ul {
    width: 400px;
    display: flex;
    margin-left: auto;
    margin-right: auto;

}

.center-list {
    text-align: center;
    font-size: 20px;
    list-style-type: none;
    padding-right: 30px;
    font-family: 'Pathway Gothic One', sans-serif;
    font-style: italic;
}
.list-text {
    font-size: 12px;
}

.right-ul{
    text-align: right;
}
.right-list{
    text-align: right;
    border-right: 1px solid black;
    padding: 10px;
}


.openbtn{
	position:fixed;
    z-index: 9999;/*ボタンを最前面に*/
	top:10px;
	right: 10px;
	cursor: pointer;
    width: 50px;
    height:50px;
}

.search-text{
	width: 200px;/*テキスト入力エリアが伸びる前の横幅*/
	height: 60px;
    padding: 10px;
}

.search-btn {
    font-size: 14px;
    height: 40px;
    width: 50px;
    border: none;  /* 枠線を消す */
    outline: none; /* クリックしたときに表示される枠線を消す */
    border-radius: 20px;
    background: #EEEEEE; //ボタンの背景色
    color: #000000; //ボタンのテキストの色

}

// form用ボタン色(グレーにするところ)
.btn-form-gray {
    height: 40px;
    width: 200px;
    border: none;  /* 枠線を消す */
    outline: none; /* クリックしたときに表示される枠線を消す */
    border-radius: 20px;
    background: #EEEEEE; //ボタンの背景色
    color: #000000; //ボタンのテキストの色

}

// form用ボタン色(ブルーにするところ)
.btn-form-blue {
    height: 40px;
    width: 200px;
    border: none;
    outline: none;
    border-radius: 20px;
    background: #5D99FF;
    color: #FFFFFF;

}

// link用ボタン色(グレーにするところ)
.btn-link-gray {
    height: 40px;
    width: 200px;
    text-align: center;
    border-radius: 20px;
    display: block;
    text-decoration: none;
    background: #EEEEEE;
    color: #000000;

}

// link用ボタン色(レッドにするところ)
.btn-link-red {
    height: 40px;
    width: 200px;
    text-align: center;
    border-radius: 20px;
    display: block;
    text-decoration: none;
    background: #DC143C;
    color: #FFFFFF;

}
// グローバルナビゲーション
#g-nav{
    position:fixed;
    z-index: 999;
	top:0;
    right: -120%;
	width:100%;
    height: 100vh;/*ナビの高さ*/
	background:	#D9E5FF;
	transition: all 0.6s;
}
#g-nav.panelactive{
    right: 0;
}

#g-nav ul {
    position: absolute;
    z-index: 999;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

#g-nav li{
	list-style: none;
    text-align: center;
}
#g-nav li a{
	color: #333;
	text-decoration: none;
	padding:10px;
	display: block;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-weight: bold;
}


/*×に変化*/
.openbtn span{
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
	background-color: #666;
  	width: 45%;
  }

.openbtn span:nth-of-type(1) {
	top:15px;
}

.openbtn span:nth-of-type(2) {
	top:23px;
}

.openbtn span:nth-of-type(3) {
	top:31px;
}

.openbtn.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}

.openbtn.active span:nth-of-type(2) {
	opacity: 0;
}

.openbtn.active span:nth-of-type(3){
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}


// テキストをふわっと表示する
.blur{
	animation-name:blurAnime;
	animation-duration:1s;
	animation-fill-mode:forwards;
}

@keyframes blurAnime{
  from {
	filter: blur(10px);
	transform: scale(1.02);
	opacity: 0;
  }

  to {
	filter: blur(0);
	transform: scale(1);
	opacity: 1;
  }
}

.text-animation{
    opacity: 0;
}


// 下から出てくる
.fadeUp{
animation-name:fadeUpAnime;
animation-duration:0.5s;
animation-fill-mode:forwards;
opacity:0;
}

@keyframes fadeUpAnime{
  from {
    opacity: 0;
	transform: translateY(100px);
  }

  to {
    opacity: 1;
	transform: translateY(0);
  }
}

// // フォント変更

h1 {
  font-family: 'Pathway Gothic One', sans-serif;
  font-style: italic;/*これが必要*/
}


// 背景色


body{
    background-image: url(bokasiari.png);
    background-size: cover;
}

.sticky-top{
    background-color: white;
}

footer{
    width: 100%;
    height: 60px;
    text-align: center;
    line-height: 120px;
    background-color: white;
}

.container {
    background-color: white;
    padding: 50px 50px 50px 50px;
}
