<div class=" d-flex align-items-center justify-content-center pt-5">
  <div class="container">
    <div class="row">
      <div class="col-11 col-md-8 col-lg-6 mx-auto">
        <div class="text-center">
          <h4><strong>コメント一覧</strong></h4><br>
        </div>
      </div>
    </div>
    <div class="row text-center">
      <table align="center">
        <tr>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <% @user.comments.each do |comment| %>
            <td width="200" height="50"><%= comment.message %></td>
            <td width="200" height="50"><%= link_to "削除", admin_comment_path(comment.id), method: :delete, class: "btn btn-outline-success", data: {confirm: "本当に削除しますか？"} %></td>
          <% end %>
        </tr>
      </table>
    </div>
  </div>
</div>