<div class=" d-flex align-items-center justify-content-center pt-5">
  <div class="container">
    <div class="row">
      <div class="col-11 col-md-8 col-lg-6 mx-auto">
        <div class="text-center">
          <h1>出展者一覧</h1><br>
        </div>
      </div>
    </div>
    <div class="row">
      <table align="center">
        <tr>
          <th>name</th>
          <th>email</th>
          <th>user status</th>
          <th>公開設定</th>
        </tr>

        <% @users.each do |user| %>
        <tr>
          <td  width="200">
            <%= link_to admin_user_path(user.id) do %>
              <%= user.name %>
          </td>
        <% end %>

          <td width="200">
            <%= user.email %>
          </td>

          <!--ユーザーのステータス表示-->
          <td width="100">
            <% if user.is_deleted == false %>
              <span class="text-success"><strong>有効</strong></span>
            <% else %>
              <span class="text-secondary"><strong>退会</strong></span>
            <% end %>
          </td>

          <!--ユーザーの公開設定表示-->
          <!--<td width="100">-->
          <!--  <#% if user.status == false %>-->
          <!--    <span class="text-success"><strong>公開</strong></span>-->
          <!--  <#% else %>-->
          <!--    <span class="text-secondary"><strong>非公開</strong></span>-->
          <!--  <#% end %>-->
          <!--</td>-->
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
