<div class=" d-flex align-items-center justify-content-center pt-5">
  <div class="container">
    <div class="row">
      <div class="col-11 col-md-8 col-lg-6 mx-auto">
        <div class="text-center">
          <h4><strong>exhibitors</strong></h4><br><br>
        </div>
      </div>
    </div>
    <div class="row">
      <% @users.each do |user| %>
        <div class="col-lg-3 text-center">
          <div class="fadeUp">
            <%= image_tag user.get_profile_image(600, 600), class: "rounded-circle", size: "100x100" %>
          </div><br>
          <div class="fadeUp">
            <%= link_to user_path(user.id), class: "link" do %>
              <%= user.name %><br><br>
          </div>
            <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
