<div class=" d-flex align-items-center justify-content-center pt-5">
  <div class="container">
    <h4 class="text-center">time line</h4><br><br>
      <div class="center">
        <% @exhibitions.each do |exhibition| %>
          <%= link_to exhibition_path(exhibition.id) do %>
            <%= image_tag exhibition.get_image(600,600), size: "200x200" %><br>
            <%= exhibition.title %><br>
          <% end %>
        <% end %>
      </div>
  </div>
</div>