<div class=" d-flex align-items-center justify-content-center pt-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <h4 class="text-center">time line</h4>
      </div>
    </div>
  </div>
</div>